<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vc.rotationtracklibrary">

    <application>
        <activity
            android:name=".RotationTrackActivity"
            android:exported="false" />

    </application>

</manifest>